.post {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 0px;
    margin-bottom: 20px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username {
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile-pic {
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: none;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;
}

:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 86%);

    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);

    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);

    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);

    --header-height: 44px;
    --nav-height: 44px;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(4, 147, 230);
}

.comment-btn:disabled,
.comment-btn[disabled] {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(199, 225, 240);
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}

.post_comment {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.like-button {
    border: 0;
    background: none;
}

:root {
    --grey: #ccc;
    --magenta: #f06;
}

p > span {
    color: var(--magenta);
}

.heart {
    stroke: var(--magenta);
    fill: var(--grey);
    stroke-dasharray: 54;
    stroke-dashoffset: 54;
}

.heart.like {
    animation: 2s ease-in forwards like, 0.8s linear 2s 2 forwards beat;
}

.heart.unlike {
    animation: 1s ease-out forwards unlike;
}

@keyframes like {
    100% {
        stroke-dashoffset: 0;
        fill: var(--magenta);
    }
}

@keyframes unlike {
    100% {
        stroke-dashoffset: 54;
        fill: var(--grey);
    }
}
